In [1]:
import sklearn
import pandas as pd
import numpy as np
from sklearn import preprocessing
import collections
import pendulum
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier as KNN

In [2]:
data = pd.read_csv("data/data_cat.csv", sep=',')
data.drop([0], axis=0, inplace=True)
data.head()

,Id,Birth date,Confession,Health status,Martial status,Child age,Child gender,Invalid child,Reports,Photo rights,Статус,Created at,Russian citizenship,Education
1,3,28 февраля 1990,Православие,отлично,Не женат (не замужем),16,Мужской,True,True,True,approved,"сентября 27, 2015 15:15",True,"Университет, Институт, техникум"
2,4,30 ноября 1984,Православие,отлично,Гражданский брак,14,Не имеет значения,True,True,True,approved,"октября 15, 2015 11:34",True,"Университет, Институт, техникум"
3,5,27 марта 1984,Православие,хорошо,Женат (замужем),12,Не имеет значения,True,True,True,approved,"октября 23, 2015 06:46",True,"Университет, Институт, техникум,Общеобразовате..."
4,6,18 марта 1981,Православие,отлично,Женат (замужем),17,Мужской,True,True,True,approved,"октября 25, 2015 08:55",True,"- ,Университет, Институт, техникум"
5,7,19 ноября 1992,Православие,хорошо,Гражданский брак,12,Женский,False,True,True,new,"октября 26, 2015 09:49",True,"Университет, Институт, техникум"

In [3]:
data = data.fillna('-')

In [4]:
ed = list(data['Education'])
dop = [0] * len(ed)
univer = [0] * len(ed)
for i in range(len(ed)):
    if 'Университет' in ed[i]:
        univer[i] = 1
    if 'курсы' in ed[i]:
        dop[i] = 1

In [5]:
data['Univer'] = univer
data['Course'] = dop
data.drop(['Education', 'Confession'], axis=1, inplace=True)

In [6]:
data.head()

,Id,Birth date,Health status,Martial status,Child age,Child gender,Invalid child,Reports,Photo rights,Статус,Created at,Russian citizenship,Univer,Course
1,3,28 февраля 1990,отлично,Не женат (не замужем),16,Мужской,True,True,True,approved,"сентября 27, 2015 15:15",True,1,0
2,4,30 ноября 1984,отлично,Гражданский брак,14,Не имеет значения,True,True,True,approved,"октября 15, 2015 11:34",True,1,0
3,5,27 марта 1984,хорошо,Женат (замужем),12,Не имеет значения,True,True,True,approved,"октября 23, 2015 06:46",True,1,0
4,6,18 марта 1981,отлично,Женат (замужем),17,Мужской,True,True,True,approved,"октября 25, 2015 08:55",True,1,0
5,7,19 ноября 1992,хорошо,Гражданский брак,12,Женский,False,True,True,new,"октября 26, 2015 09:49",True,1,0

In [7]:
age = []
for i in list(data['Birth date']):
    age.append(2019 - int(i[-4:]))

In [8]:
data['age'] = age
data.drop(['Birth date'], axis=1, inplace=True)

In [9]:
data = data.loc[data['age'] >= 15]

In [10]:
data.drop(['Child age'], axis=1, inplace=True)

In [11]:
data.head()

,Id,Health status,Martial status,Child gender,Invalid child,Reports,Photo rights,Статус,Created at,Russian citizenship,Univer,Course,age
1,3,отлично,Не женат (не замужем),Мужской,True,True,True,approved,"сентября 27, 2015 15:15",True,1,0,29
2,4,отлично,Гражданский брак,Не имеет значения,True,True,True,approved,"октября 15, 2015 11:34",True,1,0,35
3,5,хорошо,Женат (замужем),Не имеет значения,True,True,True,approved,"октября 23, 2015 06:46",True,1,0,35
4,6,отлично,Женат (замужем),Мужской,True,True,True,approved,"октября 25, 2015 08:55",True,1,0,38
5,7,хорошо,Гражданский брак,Женский,False,True,True,new,"октября 26, 2015 09:49",True,1,0,27

In [12]:
le = preprocessing.LabelEncoder()
le.fit(data['Статус'])
print(list(le.classes_))
data['Status'] = le.transform(data['Статус'])
data.drop(['Статус'], axis=1, inplace=True)

le = preprocessing.LabelEncoder()
le.fit(data['Health status'])
print(list(le.classes_))
data['Health'] = le.transform(data['Health status'])
data.drop(['Health status'], axis=1, inplace=True)

le = preprocessing.LabelEncoder()
le.fit(data['Martial status'])
print(list(le.classes_))
data['Martial status'] = le.transform(data['Martial status'])

le = preprocessing.LabelEncoder()
le.fit(data['Child gender'])
print(list(le.classes_))
data['Child gender'] = le.transform(data['Child gender'])

le = preprocessing.LabelEncoder()
le.fit(data['Invalid child'])
print(list(le.classes_))
data['Invalid child'] = le.transform(data['Invalid child'])

le = preprocessing.LabelEncoder()
le.fit(data['Reports'])
print(list(le.classes_))
data['Reports'] = le.transform(data['Reports'])

le = preprocessing.LabelEncoder()
le.fit(data['Russian citizenship'])
print(list(le.classes_))
data['Russian citizenship'] = le.transform(data['Russian citizenship'])

le = preprocessing.LabelEncoder()
le.fit(data['Photo rights'])
print(list(le.classes_))
data['Photo rights'] = le.transform(data['Photo rights'])

['approved', 'new']
['отлично', 'средне', 'хорошо']
['Вдовец (вдова)', 'Гражданский брак', 'Женат (замужем)', 'Не женат (не замужем)', 'Разведён (разведена)']
['Женский', 'Мужской', 'Не имеет значения']
[False, True]
[False, True]
[False, True]
[False, True]

In [15]:
st0 = data.loc[data['Status']==0]
st1 = data.loc[data['Status']==1]

In [16]:
collections.Counter(st0['Photo rights'])

Counter({1: 78, 0: 3})

In [17]:
collections.Counter(st1['Photo rights'])

Counter({1: 1091, 0: 93})

In [18]:
collections.Counter(st0['Reports'])

Counter({1: 81})

In [19]:
collections.Counter(st1['Reports'])

Counter({1: 1170, 0: 14})

In [20]:
collections.Counter(st0['Russian citizenship'])

Counter({1: 81})

In [21]:
collections.Counter(st1['Russian citizenship'])

Counter({1: 1151, 0: 33})

In [438]:
data.head()

,Id,Martial status,Child gender,Invalid child,Reports,Photo rights,Created at,Russian citizenship,Univer,Course,age,Status,Health
1,3,3,1,1,1,1,"сентября 27, 2015 15:15",1,1,0,29,0,0
2,4,1,2,1,1,1,"октября 15, 2015 11:34",1,1,0,35,0,0
3,5,2,2,1,1,1,"октября 23, 2015 06:46",1,1,0,35,0,2
4,6,2,1,1,1,1,"октября 25, 2015 08:55",1,1,0,38,0,0
5,7,1,0,0,1,1,"октября 26, 2015 09:49",1,1,0,27,1,2

In [439]:
data = data.iloc[:-100]

In [440]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1165 entries, 1 to 1208
Data columns (total 13 columns):
Id                     1165 non-null int64
Martial status         1165 non-null int64
Child gender           1165 non-null int64
Invalid child          1165 non-null int64
Reports                1165 non-null int64
Photo rights           1165 non-null int64
Created at             1165 non-null object
Russian citizenship    1165 non-null int64
Univer                 1165 non-null int64
Course                 1165 non-null int64
age                    1165 non-null int64
Status                 1165 non-null int64
Health                 1165 non-null int64
dtypes: int64(12), object(1)
memory usage: 127.4+ KB

In [441]:
data.drop(['Created at'], axis=1, inplace=True)

In [442]:
# st0 = data.loc[data['Status']==0]
# 
# st1 = data.loc[data['Status']==1].sample(frac=1).iloc[:81]
# 
# data = st0.append(st1)
# 
# data = data.sample(frac=1)

In [443]:
X = data.drop(['Status'], axis=1)
y = data['Status']

In [444]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=214, shuffle=True)

In [445]:
collections.Counter(y_train)

Counter({1: 722, 0: 58})

In [446]:
collections.Counter(y_test)

Counter({1: 362, 0: 23})

In [447]:
14/233

0.060085836909871244

In [448]:
67/932

0.07188841201716738

In [449]:
clf = LogisticRegression(random_state=0, solver='liblinear').fit(X_train, y_train)

In [450]:
clf.score(X_test, y_test)

0.9402597402597402

In [451]:
clf = KNN().fit(X_train, y_train)

In [452]:
clf.score(X_test, y_test)

0.9324675324675324

In [453]:
from sklearn import tree
clf = tree.DecisionTreeClassifier(random_state=0)
clf = clf.fit(X_train, y_train)
clf.score(X_test, y_test)

0.8779220779220779

In [454]:
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(random_state=0)
clf = clf.fit(X_train, y_train)
clf.score(X_test, y_test)

/home/caym/Programs/anaconda3/lib/python3.7/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

0.9272727272727272

In [458]:
grid_param = {
    'n_estimators': [100, 300, 500, 800, 1000],
    'criterion': ['gini', 'entropy'],
    'bootstrap': [True, False]
}

gd_sr = GridSearchCV(estimator=clf,
                     param_grid=grid_param,
                     scoring='accuracy',
                     cv=5,
                     n_jobs=-1)

In [459]:
gd_sr.fit(X_train, y_train)

GridSearchCV(cv=5, error_score='raise-deprecating',
             estimator=RandomForestClassifier(bootstrap=True, class_weight=None,
                                              criterion='gini', max_depth=None,
                                              max_features='auto',
                                              max_leaf_nodes=None,
                                              min_impurity_decrease=0.0,
                                              min_impurity_split=None,
                                              min_samples_leaf=1,
                                              min_samples_split=2,
                                              min_weight_fraction_leaf=0.0,
                                              n_estimators=10, n_jobs=None,
                                              oob_score=False, random_state=0,
                                              verbose=0, warm_start=False),
             iid='warn', n_jobs=-1,
             param_grid={'bootstrap': [True, False],
                         'criterion': ['gini', 'entropy'],
                         'n_estimators': [100, 300, 500, 800, 1000]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring='accuracy', verbose=0)

In [460]:
gd_sr.score(X_test, y_test)

0.935064935064935

In [413]:
y_pred = clf.predict(X_test)

In [414]:
y_true = np.array(y_test)

In [415]:
from sklearn.metrics import f1_score
f1_score(y_true, y_pred)

0.9620596205962059

In [461]:
from sklearn.ensemble import GradientBoostingClassifier
clf = GradientBoostingClassifier(random_state=0, n_estimators=100, learning_rate=0.1, max_depth=3)
clf = clf.fit(X_train, y_train)
clf.score(X_test, y_test)

0.9428571428571428

In [363]:
clf.predict(X_test)

array([1, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0,
       1, 0, 0, 1, 0, 0, 1, 1, 1, 0])

In [364]:
collections.Counter(y_test)

Counter({1: 24, 0: 30})

In [365]:
from sklearn.model_selection import GridSearchCV
parameters = {
    "loss":["deviance"],
    "learning_rate": [0.01, 0.05, 0.1, 0.2],
    "min_samples_split": np.linspace(0.1, 0.5, 6),
    "min_samples_leaf": np.linspace(0.1, 0.5, 6),
    "max_depth":[3,5,8],
    "max_features":["log2","sqrt"],
    "criterion": ["friedman_mse",  "mae"],
    "subsample":[0.5, 0.8, 0.9, 1.0],
    "n_estimators":[10]
    }

clf = GridSearchCV(GradientBoostingClassifier(), parameters, cv=10, n_jobs=-1)

clf.fit(X_train, y_train)
print(clf.score(X_test, y_test))
print(clf.best_params_)

0.35185185185185186
{'criterion': 'friedman_mse', 'learning_rate': 0.2, 'loss': 'deviance', 'max_depth': 5, 'max_features': 'sqrt', 'min_samples_leaf': 0.1, 'min_samples_split': 0.26, 'n_estimators': 10, 'subsample': 0.9}

/home/caym/Programs/anaconda3/lib/python3.7/site-packages/sklearn/model_selection/_search.py:813: DeprecationWarning: The default of the `iid` parameter will change from True to False in version 0.22 and will be removed in 0.24. This will change numeric results when test-set sizes are unequal.
  DeprecationWarning)

In [371]:
y_pred = clf.predict(X_test)

In [372]:
y_true = np.array(y_test)

In [375]:
y_1 = []
for i in y_true:
    if i == 1:
        y_1.append(0)
    else:
        y_1.append(1)
y_true = np.array(y_1)

In [377]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import f1_score
f1_score(y_true, y_pred)

0.6984126984126984